// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// General CSS
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 28px;
  color: rgb(50,78,123);
}
// Game CSS
.grid {
  display: flex;
  justify-content: center;
}
.grid-content {
  border: 3px solid rgb(50,78,123);
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.grid-letters li {
  margin-bottom: 0;
  padding: 5px;
  font-size: 24px;
  border: 2px solid rgb(71,98,104);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(200,200,200);
  min-width: 33px;
}
// Score CSS
ul {
  list-style-type: none;
}
li {
  font-size: 18px;
}
.results {
  display: flex;
  justify-content: center;
}
.results-content {
  border: 3px solid rgb(50,78,123);
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.score-btn {
  margin-bottom: 20px;
}
